.container{
    margin-left: auto;
    margin-right: auto;
}

#presentation-section{
    background-color: blanchedalmond;

}

#main-info, #img-container{
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

#main-info{
    width: 600px;
    height: 320px;
    background-color: chartreuse;
}

#img-container{
    width: 300px;
    height: 320px;
    background-color: blueviolet;
}

img{
    width: 300px;
    height: 320px;
}